:root{
  --bg: #EEEEEE;
  --font: #212121;
  --nav-bg: #757575;
  --nav-font: #424242;
  --nav-act: #212121;
  --nav-hov: #616161;
  --form-max: 50%;

}

@media only screen and (orientation: portrait) {
  :root{
    --form-max: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root{
    --bg: #424242;
    --font: #EEEEEE;
    --nav-bg: #212121;
    --nav-font: #BDBDBD;
    --nav-act: #EEEEEE;
    --nav-hov: #FAFAFA;
  }
}

body {
  background-color: var(--bg);

}


main {
  width: 100%;
  margin: 0;
  padding: 0;

  color: var(--font);
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 1%;
}

.nav-bg {
  background-color: var(--nav-bg);
  color: var(--nav-font);
  font-weight: 600;
}

.nav-item: hover {
  color: var(--navn-hov);
}

.active {
  color: var(--navn-act);
}

.row {
  width: 100%;
  margin: 0;
  padding: 0;
}

.col {
  margin: 0;
  padding: 0;
  width: 100%;
}

.form {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: var(--form-max);
}

.form ul {
  padding: 0;
  margin: 0;
}

.form ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  width: 100%;
}

.form ul li input {
  width: 100%;
  margin: 0;
  padding: 2%;
}

.btn {
  margin-top: 5px;
  font-weight: 500;
}

.logo {
  width: 2rem;
  height: auto;
}

.text {
  max-width: var(--form-max);
}

.td {
  width: 10rem;
}

.table {
  width: auto;
  margin: 5% auto 0 0;
  padding: 2%;
  background-color: white;
  border: 1px solid black;
}

.navbar-toggler {
  border: 0px solid black;
  border-color: var(--nav-bg);
}
